@font-face {
    font-family: 'Old Standard TT';
    src: url('../fonts/OldStandardTT.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald.ttf') format('truetype');
}