.home {
    gap: 2rem;

    h1 {
        font-size: 5rem;
    }

    .links {
        display: flex;
        width: 50%;
        max-width: 20rem;
        justify-content: space-around;

        i {
            color: #000;
        }
    }
}