section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;


    .half-width {
        display: flex;
        width: 50%;
        min-width: 298px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .margin-bottom{
        margin-bottom: 1rem;
    }
}