@import "../node_modules/bootstrap/scss/functions";

$primary: tint-color(#20c997, 60%);
$secondary: tint-color(#20c997, 70%);
$light:#7bbda9;

@import "../node_modules/bootstrap/scss/variables";
@import "bootstrap";