@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav {
    @apply bg-emerald-800 fixed w-screen h-12 flex justify-between items-center px-8 z-20;
}

.logo {
    @apply flex flex-row items-center text-white;
}

.menu {
    @apply flex flex-row items-center space-x-2;
}

.menu-button {
    @apply hover:bg-emerald-900 h-12 text-white flex items-center justify-center p-4;
}

.langT {
    @apply fixed flex flex-col bg-emerald-800 rounded text-white top-14 p-4 opacity-100 visible;
    transition: all 0.2s;
}

.langF {
    @apply fixed flex flex-col bg-emerald-800 rounded text-white top-14 p-4 opacity-0 invisible;
    transition: all 0.2s;
}

.menuT {
    @apply fixed flex flex-col bg-emerald-800 rounded text-white top-14 right-2 p-4 opacity-100 visible;
    transition: all 0.2s;
}

.menuF {
    @apply fixed flex flex-col bg-emerald-800 rounded text-white top-14 right-2 p-4 opacity-0 invisible;
    transition: all 0.2s;
}

#home {
    @apply h-screen flex flex-col justify-center items-center text-center bg-emerald-500 space-y-4;
}

.decoration {
    @apply absolute z-0 fill-emerald-100;
    margin: 0 !important;
    top: 75vh;
}

.main-title {
    @apply text-5xl z-10 font-semibold;
}

.links {
    @apply flex justify-center space-x-8 z-10;
}

.text {
    @apply z-10;
}

section {
    @apply pt-16 flex flex-col justify-center items-center text-center space-y-4;
}

section:nth-child(odd) {
    @apply bg-emerald-200;
}

section:nth-child(even) {
    @apply bg-emerald-100;
}

.sec-title {
    @apply text-center text-3xl font-semibold shadow-lg;
}

.sec-paragraph {
    @apply text-center w-1/2 z-10;
}

.odd-decoration {
    @apply z-0 fill-emerald-200;
}

.even-decoration {
    @apply z-0 fill-emerald-100;
}

.cert-link {
    @apply underline text-xl font-semibold m-8 z-10 rounded shadow-xl border rounded border-emerald-100 p-2;
}

#projects {
    padding-bottom: 4rem;
}

.game {
    @apply m-8 flex w-2/3 rounded-lg border border-emerald-200 shadow-xl p-4 justify-between !important;
}

.game:nth-child(odd) {
    @apply  flex-row;
}

.game:nth-child(even) {
    @apply flex-row-reverse;
}

.game-icon {
    @apply rounded-full shadow-2xl bg-white;
}

.game-title {
    @apply text-center text-xl font-semibold;
}

.game-info {
    @apply flex flex-col items-center justify-center space-y-3;
}